.box__section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 100px 0px;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box:nth-child(1) {
    background-color: rgb(255, 152, 152);
}

.box:nth-child(2) {
    background-color: rgb(159, 189, 255);
    position: relative;
    right: 80px;
    top: 80px;
    z-index: 2;
}

.box:nth-child(3) {
    background-color: rgb(167, 255, 211);
    z-index: 1;
    position: relative;
    right: 160px;
    top: 160px;
}